html {
    height: 100%;
}

body {
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
    margin: 0 5px;
    padding:0 20px;
    height: 100%;
}

.head {
    margin: 5px 0 0 0;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
}

.head_left {
    float: left;
    margin-left: 5%;
}

.head_right {
    width: 200px;
    text-align: right;
    position: fixed;
    left: 80%;
}

/*.course-t table{*/
/*border-right:1px solid #cccccc;*/
/*border-bottom: 1px solid #cccccc;*/
/*}*/
.middle {
    margin: 0 0;
    height: 85%;
}

.course_t {
    margin: 0 0;
    height: 90%;
}

.course_table td {
    border-right: 1px solid #cccccc;
    height: 13%;
    width: 13%;
    position: relative;
}

.course_table th {
    border-right: 1px solid #cccccc;
    height: 8%;
    text-align: center;
}

.middle_next {
    text-align: center;
    margin: 30px 0 15px 0;
    border-radius: 20px;
}

.middle_next button {
    background: #ffd792;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    outline: none;
}

.foot {
    margin: 20px 0 0 0;
    text-align: center;
}

.suspend {
    text-align: center;
    margin: 0;
    padding:0 0 5px 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ff6262;
}

.imgSearch {
    float: left;
    cursor: pointer;
    margin: 0 0;
    padding: 13px 0 0 10px;
    width: 40%;
    height: 55px;
}

.imgAdd {
    text-align: right;
    /*width:60px;*/
    cursor: pointer;
    margin: 0 0;
    padding: 15px 0 0 5px;
    width: 40%;
    height: 55px;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#wizard {
    border: 2px solid #789;
    font-size: 12px;
    height: 400px;
    margin:0 auto;
    width: 570px;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#wizard .items {
    width: 20000px;
    clear: both;
    position: absolute;
}

#wizard .right {
    float: right;
}

#wizard #status {
    height: 35px;
    background: #123;
    padding-left: 25px !important;
}

#status li {
    float: left;
    color: #fff;
    padding: 10px 40px;
}

#status li.active {
    background-color: #369;
    font-weight: normal;
}

.page p input {
    width:420px;
    height: 30px;
    margin: 10px auto;
    line-height: 20px;
    border: 1px solid #d3d3d3;
    padding: 2px
}

.page {
    padding: 10px 30px;
    width: 550px;
    float: left;
}

.page h3 {
    height: 40px;
    font-size: 16px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px
}

.page h3 em {
    font-size: 12px;
    font-weight: 500;
    font-style: normal
}

.page p {
    line-height: 24px;
}

.page p label {
    font-size: 14px;
}

.btn_nav {
    height: 36px;
    line-height: 36px;
    margin: 10px auto;
}

.prev, .next {
    width: 100px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d3d3d3;
    cursor: pointer
}


